<div class="row">
  <div class="col-xs-11 mt-5 ml-5 mr-5 mb-5 mx-auto">
    <div class="card mt-5">
      <h1 class="mt-5 ml-5">User Signup</h1>
      <form [formGroup]="signUpForm" (submit)="this.userService.addUser(signUpForm.value)">
        <div class="row mt-5 ml-5 mr-5">
            <div class="alert-danger col-12 px-auto" *ngIf="this.userService.userExists">
              Username already exists
            </div>
          <div class="col-md-6 col-xs-12">
            <label for="userid">Username</label>
            <input type="text" class="form-control" placeholder="Enter Userid" formControlName="userid" id="userid">
            <div class="text-danger" *ngIf="userid.invalid && userid.errors.required && userid.touched">Userid is required</div>
          </div>
        </div>
        <div class="row ml-5 mr-5">
          <div class="col-md-6 col-xs-12 mt-5">
            <label for="firstName">First Name</label> 
            <input type="text" class="form-control" placeholder="Enter First Name" formControlName="firstName" id="firstName">
            <div class="text-danger" *ngIf="firstName.invalid && firstName.errors.required && firstName.touched">First Name is required</div>
          </div>
          <div class="col-md-6 col-xs-12  mt-5">
            <label for="lastName">Last Name</label> 
            <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="lastName" id="lastName">
            <div class="text-danger" *ngIf="lastName.invalid && lastName.errors.required && lastName.touched">Last Name is required</div>
            
          </div>
        </div>
          <!-- gender and age-->
          <div class="row ml-5 mr-5">
            <div class="col-md-6 col-xs-12 mt-5">
                <label for="gender">Gender</label>
                <select name="payment_gateway" class="form-control" placeholder="Enter type of Vendor" formControlName="gender" id="gender">
                   
                              
                                  <option *ngFor="let item of gender1"  [value]="item">{{item}}</option>
                                
                                </select>
                <div class="text-danger"
                  *ngIf="gender.invalid && gender.errors.required && gender.touched">Gender is
                  required</div>
              </div>
              <div class="col-md-6 col-xs-12  mt-5">
              <label for="age">Age</label>
              <input type="number" class="form-control" placeholder="Enter Age"
                formControlName="age" id="age">
              <div class="text-danger"
                *ngIf="age.invalid && age.errors.required && age.touched">Age is required</div>
            </div>
          </div>

          <div class="row ml-5 mr-5">
            <div class="col-md-6 col-xs-12 mt-5">
                <label for="contact">Contact Number</label>
                <input type="number" class="form-control" placeholder="Enter Contact Information"
                  formControlName="contact" id="contact">
                <div class="text-danger"
                  *ngIf="contact.invalid && contact.errors.required && contact.touched">Contact Information
                  is required</div>
              </div>
  
              <div class="col-md-6 col-xs-12 mt-5">
                <label for="pan">Pan</label>
                <input type="text" class="form-control" placeholder="Enter Pan Details"
                  formControlName="pan" id="pan">
                <div class="text-danger"
                  *ngIf="pan.invalid && pan.errors.required && pan.touched">Pan Details are
                  required</div>
              </div>
            </div>

            
            <div class="row ml-5 mr-5">
              <div class="col-md-6 col-xs-12 mt-5">
                <label for="aadhar_number">Aadhar Details</label>
                <input type="text" class="form-control" placeholder="Enter Aadhar Details"
                  formControlName="aadhar_number" id="aadhar_number">
                <div class="text-danger"
                  *ngIf="aadhar_number.invalid && aadhar_number.errors.required && aadhar_number.touched">Aadhar Details are
                  required</div>
              </div>
            </div>
        
        <div class="row ml-5 mr-5">
          <div class="col-md-6 col-xs-12 mt-5">
            <label for="password">Password</label> 
            <input type="password" class="form-control" placeholder="Enter Password" formControlName="password" id="password">
            <div class="text-danger" *ngIf="password.invalid && password.errors.required && password.touched">Password is required</div>
            <div class="text-danger" *ngIf="password.errors?.minlength">Password must be atleast 5 characters </div>

          </div>
          <div class="col-md-6 col-xs-12 mt-5">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" placeholder="Enter Confirm Password" formControlName="confirmPassword" id="confirmPassword">
            <div class="text-danger" *ngIf="confirmPassword.invalid && confirmPassword.errors.required && confirmPassword.touched">Confirm the Password</div>
            <div class="text-danger"
            *ngIf="signUpForm.get('confirmPassword').hasError('nomatch')">Password and Confirm Password do not match</div> 
          </div>
        </div>
        <div class="row mt-5 ml-5 mr-5 mb-5">
          <div class="col-12">
            <button type="submit" class="btn orange mt-3" [disabled]="!signUpForm.valid">Signup</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
