/* .bg{
    background-image: url("https://images.unsplash.com/photo-1556155092-490a1ba16284?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    height: 100%;
    min-height:900px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
