


<div  class="card mb-4 mx-auto mt-5" >
        <div class="card-body">
            <div class="row mt-1 col form-group">
               <h3><b>Bill Details:</b> </h3>
            </div>
            
            <div class="row mt-1 col form-group">
                Bill Type : {{items.vendor.vendor_type}}
            </div>
            
            <div class="row mt-1 col form-group">
               Vendor Name : {{items.vendor.username}}
            </div>

            
                <div class="row mt-1 col form-group">
                                Username : {{this.authservice.username}}
                </div>
                <div class="row mt-1 col form-group">    
                                Consumer No: {{items.consumerid}}
                </div>
           
            <div class="row mt-1 col">
                        Bill Amount to be Paid : <span class="badge badge-secondary">{{items.amt}}</span> 
            </div>
            <div class="row mt-1 col ">
                        <button type="button"  class="btn btn-primary"[routerLink]="['/paymentgateway',items.vendor.username]" value="Pay your Bill"> Pay my Bill </button> 
            </div>
        </div>
    </div>

   


 

  




